.prettyBackground
{
    width: 100%;
    background: linear-gradient(45deg, #23A6D5,rgb(255, 90, 186));
    background-size: 200% 200%;
    animation: change 10s ease-out infinite;
    border: none;
    border-radius: 10px;
}

@keyframes change 
{
    0%
    {
        background-position: 0 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100%
    {
        background-position: 0 50%;
    }
}

.blue
{
    background: #23A6D5;
}