@font-face {
    font-family: 'Inno';
    src: url('/static/fonts/Inno.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratLight';
    src: url('/static/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif; 
}

a {
    text-decoration: none;
}


.page-tit{
    font-family: 'Inno', sans-serif;
}

.page-sub-tit{
    font-family: 'Montserrat', sans-serif; 
}

.summery{
    font-family: 'MontserratLight', sans-serif;
    text-align: justify;
    text-align-last: center;
    font-size: 1.14rem;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none; 
    /* text-justify: distribute; */
}

.disclaimer-txt{
    font-family: 'MontserratLight', sans-serif;
    text-align: justify;
    text-align-last: center;
    font-size: .8rem;
    cursor: default;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none; 
    /* text-justify: distribute; */
}

.partner-heading{
    font-family: 'Inno', sans-serif;
    color: white;
}

.partner-txt{
    font-family: 'MontserratLight', sans-serif;
    text-align: justify;
    text-align-last: center;
    font-size: 1.2rem;
    cursor: default;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none; 
    color: white;
    /* text-justify: distribute; */
}

.card-title{
    font-family: 'Inno', sans-serif;
}

.card-sub-title{
    font-family: 'Montserrat', sans-serif;
}

.card-summery{
    font-family: 'MontserratLight', sans-serif;
    text-align: justify;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none; 
}

.my-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.section-spacer{
    margin-bottom: 80px;
}

.my-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* High z-index to keep it on top */
    backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    font-family: 'Inno', sans-serif;
    /* background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); Gradient effect */
}

.main-content {
    padding-top: 70px; /* Adjust this value based on the height of your navbar */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none; 
}

@media (max-width: 768px) { /* Adjusts for mobile devices */
    .main-content {
        padding-top: 70px; /* Adjust this value based on the height of your navbar */
    }
    .summery{
        margin-top: 20px;
        text-align: left;
        text-align-last: left;
    }
    .disclaimer-txt{
        text-align-last: left;
    }
    /* .partner-heading{
        font-size: 0.8rem;
    }     */
    .partner-txt{
        font-size: 0.8rem;
        text-align-last: left;
    }
}

.retainer-card {
    background-color: rgba(0, 0, 0, 0.0);
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.0) 50%);

    background-image: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.1), 
        rgba(255, 255, 255, 0) 50%,
        rgba(0, 0, 0, 0.0) 50%
    );
    backdrop-filter: blur(1.8px);
    border-radius: 10px;
    padding: 20px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    transition: opacity 0.3s ease, background-image 0.3s ease;
    cursor: default;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none; 
}

.retainer-card h3 {
    margin-top: 0;
}

.retainer-card h5 {

}

.retainer-card p {

}

/* ADDONS */

.addons-card {
    background-color: rgba(0, 0, 0, 0.0);
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.0) 50%);

    background-image: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.1), 
        rgba(255, 255, 255, 0) 50%,
        rgba(0, 0, 0, 0.0) 50%
    );
    backdrop-filter: blur(1.8px);
    border-radius: 10px;
    padding: 20px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    transition: opacity 0.3s ease, background-image 0.3s ease;
    cursor: default;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none; 
}

.addons-card h3 {
    margin-top: 0;
}

.addons-card h5 {

}

.addons-card p {

}

.normal-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    transition: opacity 0.3s ease, background-image 0.3s ease;
    cursor: default;
}

.size-50 {
    transform: scale(0.5);
    transform-origin: center center; /* Adjust as needed */
}

.size-70 {
    transform: scale(0.7);
    transform-origin: center center; /* Adjust as needed */
}

/* .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
} */


.swiper-pagination-bullet{
    background-color: aliceblue;
    background: white;
}
#about{
    scroll-margin-top: 80px;
}
#references{
    scroll-margin-top: 20px;
}
#partners{
    scroll-margin-top: 20px;
}
#addons{
    scroll-margin-top: 20px;
}
#packages{
    scroll-margin-top: 20px;
}
#disclaimer{
    scroll-margin-top: 20px;
}