@font-face {
    font-family: 'Inno';
    src: url('/static/fonts/Inno.ttf') format('truetype'); /* Correct path to the font file */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Inno', sans-serif; /* Use the font throughout the body, with a fallback */
}

.my-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.retainer-card {
    background-color: rgba(0, 0, 0, 0.0);
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.0) 50%);

    background-image: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.1), 
        rgba(255, 255, 255, 0) 50%,
        rgba(0, 0, 0, 0.0) 50%
    );
    backdrop-filter: blur(1.8px);
    border-radius: 10px;
    padding: 20px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    transition: opacity 0.3s ease, background-image 0.3s ease;
    cursor: default;
}

.retainer-card h3 {
    margin-top: 0;
}

.retainer-card h5 {

}

.retainer-card p {

}

/* ADDONS */

.addons-card {
    background-color: rgba(0, 0, 0, 0.0);
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.0) 50%);

    background-image: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.1), 
        rgba(255, 255, 255, 0) 50%,
        rgba(0, 0, 0, 0.0) 50%
    );
    backdrop-filter: blur(1.8px);
    border-radius: 10px;
    padding: 20px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    transition: opacity 0.3s ease, background-image 0.3s ease;
    cursor: default;
}

.addons-card h3 {
    margin-top: 0;
}

.addons-card h5 {

}

.addons-card p {

}