body, html {
    margin: 0 !important;
    padding: 0 !important;
    /* background: #1C2331; */
    background: radial-gradient(ellipse at bottom, #2a555c 0%, #1C2331 100%);
}

html {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #2a555c 0%, #1C2331 100%);
    scroll-behavior: smooth;
    /* background: #1C2331; */
}

#stars, #stars:after {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: none;
}

#stars:after {
    content: '';
    position: absolute;
    top: 100vh; /* Set to start just offscreen */
    left: 0;
}

#starsBig, #starsBig:after {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: none;
}

#starsBig:after {
    content: '';
    position: absolute;
    top: 100vh; /* Set to start just offscreen */
    left: 0;
}

@keyframes animStar {
    from {
        transform: translateY(-100vh); /* Start from offscreen bottom */
    }
    to {
        transform: translateY(0px); /* Move to original position */
    }
}

@media (max-width: 768px) {
    #stars {
        height: -webkit-fill-available;
    }
    #starsBig {
        height: -webkit-fill-available;
    }
}

#stars {
    animation: animStar 40s linear infinite;
}

#starsBig {
    animation: animStar 70s linear infinite;
}

#stars:after {
    content: '';
    position: absolute;
    top: 100vh; /* Adjust based on your requirement */
}

#starsBig:after {
    content: '';
    position: absolute;
    top: 100vh; /* Adjust based on your requirement */
}

.app-container {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    overflow: hidden; /* Optional: In case contents exceed viewport height */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Ensures it's behind content but not behind the body */
  }

  .container {
    position: relative;
    z-index: 1; /* Ensures the content is above the canvas */
    /* Ensure the background is at least partially transparent */
    background-color: rgba(255, 255, 255, 0.0); /* Example: semi-transparent white */
  }
