body, html {
    margin: 0 !important;
    padding: 0 !important;
    /* background: #1C2331; */
    background: radial-gradient(ellipse at bottom, #2a555c 0%, #1C2331 100%);
}

html {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #2a555c 0%, #1C2331 100%);
    /* background: #1C2331; */
}

#stars, #stars:after {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: none;
}

#stars:after {
    content: '';
    position: absolute;
    top: 100vh; /* Set to start just offscreen */
    left: 0;
}

#starsBig, #starsBig:after {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: none;
}

#starsBig:after {
    content: '';
    position: absolute;
    top: 100vh; /* Set to start just offscreen */
    left: 0;
}

@keyframes animStar {
    from {
        transform: translateY(-100vh); /* Start from offscreen bottom */
    }
    to {
        transform: translateY(0px); /* Move to original position */
    }
}

@media (max-width: 768px) {
    #stars {
        height: -webkit-fill-available;
    }
    #starsBig {
        height: -webkit-fill-available;
    }
}

#stars {
    animation: animStar 50s linear infinite;
}

#starsBig {
    animation: animStar 70s linear infinite;
}

#stars:after {
    content: '';
    position: absolute;
    top: 100vh; /* Adjust based on your requirement */
}

#starsBig:after {
    content: '';
    position: absolute;
    top: 100vh; /* Adjust based on your requirement */
}
